@import "tailwindcss";
/* @plugin "flyonui";
@import "flyonui/variants.css";
@source "./node_modules/flyonui/flyonui.js";  */
:root {
    --color-main: oklch(0% 0 0);
    --color-text: oklch(100% 0.00011 271.152);
    --color-border: oklch(63.343% 0.00007 271.152 / 0.37);
}
