@import "tailwindcss";
:root {
  /* --- الألوان الأساسية للخلفيات --- */
  --bg-main: #2a292d;          /* الخلفية العميقة للموقع */
  --bg-nav: #37373a;           /* خلفية شريط التنقل العلوي */
  --bg-card: #1a1a1a;          /* خلفية بطاقات الأفلام (Cards) */
  --bg-button-gray: rgba(255, 255, 255, 0.15); /* الزر الرمادي الشفاف (المزيد من التفاصيل) */
  --bg-button-gray2: rgba(255, 255, 255, 0.24); /* الزر الرمادي الشفاف (المزيد من التفاصيل) */


  /* --- ألوان التمييز (Accents) --- */
  --accent-red: #dd543e;       /* اللون الأحمر الحيوي للزر الرئيسي */
  --accent-red-hover: #ee4930; /* درجة اللون عند تمرير الماوس */

  /* --- ألوان النصوص --- */
  --text-primary: #ffffff;     /* العناوين الكبيرة والنصوص البيضاء الناصعة */
  --text-primary-trans: #ffffff8e;     /* العناوين الكبيرة والنصوص البيضاء الناصعة */
  --text-secondary: #b3b3b3;   /* النصوص الفرعية، الوصف، والأسماء الجانبية */
  --text-muted: #808080;       /* النصوص الباهتة جداً مثل الحقوق في الأسفل */

  /* --- عناصر إضافية --- */
  --border-color: #333333;     /* لون الحدود البسيط جداً */
  --shadow-main: 0 8px 14px rgba(0, 0, 0, 0.274); 
  --shadow-inset: inset 0px -20px 20px 3px rgba(3, 3, 3, 0.616);; /* ظلال ناعمة للعناصر البارزة */
  
  /* --- إعدادات التباعد والزوايا (اختياري لكنها تعطي لمسة عصرية) --- */
  --radius-lg: 12px;           /* زوايا البانر الكبير */
  --radius-md: 8px;            /* زوايا بطاقات الأفلام */
  --transition-fast: 0.3s ease; /* سرعة الحركات والتفاعلات */
}